<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FacadeSelenium" type="Facade.Selenium.Infra.ReadConfig.BrowserSection, Facade.Selenium" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <FacadeSelenium>
    <BrowsersElementCollection>
      <!--<add webDriverType="FirefoxDriver" pathEvidence="c:\\Evidences" driverServerDirectory="C:\\Program Files (x86)\\Mozilla Firefox\firefox.exe" />-->
      <add webDriverType="ChromeDriver" pathEvidence="c:\\Evidences" driverServerDirectory="C:\\Webdriver\\ChromeDriver" />
    </BrowsersElementCollection>
  </FacadeSelenium>
</configuration>
